* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left img {
    height: 60px;
    margin-left: 15px;
}

.header-right li {
    color: #1b3c59;
    list-style: none;
    display: inline;
    margin-top: 10px;
    padding: 0 20px 25px 20px;
    line-height: 90px;
}

.header-right li:hover:not(:last-child) {
    border-bottom: 2px solid #61ce4e;
}

header button {
    color: white;
    background-color: #61ce4e;
    margin-left: 40px;
    padding: 15px 35px;
    border-radius: 5px;
    display: inline;
}
