* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left img {
    height: 60px;
    margin-left: 15px;
}

nav {
    display: flex;
    align-items: center;
}

.menu-item {
    position: relative;
    color: #1b3c59;
    padding: 0 40px;
    text-transform: uppercase;
}

.menu-item:hover {
    border-bottom: 2px solid #61ce4e;
}

.menu-item > a {
    line-height: 90px;
}

header .dropdown-menu {
    position: absolute;
    display: none;
}

.visible {
    display: block;
}

header .dropdown-menu-item {
    margin: 10px 0px;
}
